/* style.css for index.html */

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* -- for styling body element and its parts -- */

body {
    font-family: Roboto, Verdana, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* for setting body height */
    height: 720px;
}

.header, .hero, .footer {
    color: #F9FAF8;
    background-color: #1f2937;
}

div.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

div.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    /* set height to inherit the body's height */
    height: inherit;
}

div.footer {
    padding: 20px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* for styling header parts */

.hero .section .logo {
    font-size: 24px;
}

.header .list {
    display: flex;
    gap: 8px;
}

.hero .section .head {
    font-size: 48px;
    font-weight: 900;
}

.hero .section div.desc, .header .list {
    font-size: 18px;
    color:#e5e7eb
}

div.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}