/* style.css for index.html */

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* -- for styling body element and its parts -- */

body {
    font-family: Roboto, Verdana, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* for setting body height */
    height: 740px;
    margin: 0;
}

/* for adjusting box size on header, content and footer */
.header, .content, .footer {
    padding-left: 100px;
    padding-right:  100px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0px;
}

.header, .hero, .footer {
    color: #F9FAF8;
    background-color: #1f2937;
}

div.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* set height to inherit the body's height */
    height: inherit;
}

div.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* for styling header parts */

div.main, div.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.main div, div.hero div {
    flex: 1;
}

.main, .logo {
    font-size: 24px;
}

.header .list {
    display: flex;
    gap: 8px;
}

.hero .section .head {
    font-size: 48px;
    font-weight: 900;
}

.hero .section div.desc, .header .list {
    font-size: 18px;
    color:#e5e7eb
}


